<ul class="nav">
<% for searcher in QuickSearch::Engine::APP_CONFIG['found_types'] %>
        <% if @found_types.include? searcher  %>
            <li class="nav-item">
                <a class="nav-link" href="#<%= searcher.dasherize %>" data-quicksearch-ga-action="<%= searcher.dasherize %>">
                <%= t("#{searcher}_search.display_name") %>
                </a>
            </li>
        <% else %>
            <li class="nav-item <%= searcher.dasherize %>">
	            <a class="nav-link disabled no-results-label">
	            	<%= t("#{searcher}_search.display_name") %>
	            </a>
            </li>
        <% end %>
<% end %>
</ul>
