<div id="<%= service_name.dasherize %>" class="card" >
    <% if searcher.is_a? StandardError %>
        <h5 class="card-header"><%= module_display_name %></h5>
        <% if params[:page].blank? %>
            <% page = 1 %>
        <% else %>
            <% page = params[:page] %>
        <% end %>
        <%= render partial: '/quick_search/search/search_error', locals: { service_name: service_name, page: page, template: 'without_paging' } %>
    <% elsif searcher.results.blank? %>
        <h5 class="card-header"><%= module_display_name %></h5>
        <%= render partial: '/quick_search/search/no_results', locals: {module_display_name: module_display_name, service_name: service_name} %>
    <% else %>
        <h4 class="card-header">
            <div class="float-left">
                <% total = number_with_delimiter(searcher.total) %>
                <% unless defined? searcher.loaded_link_mobile %>
                    <%= module_display_name %>
                <% else %>
                    <%= link_to raw(module_display_name), searcher.loaded_link, { :class => ''}  %>
                    <%= link_to raw(module_display_name), searcher.loaded_link_mobile, { :class => ''}  %>
                <% end %>
                <% if searcher.loaded_link.start_with? "https://archives.albany.edu/collections?" %>
                    <a href="#" data-toggle="tooltip" data-placement="top" title="Collections include records of all items in the M.E. Grenander Department of Special Collections & Archives.">
                        <i class="fa fa-info-circle fa-2" aria-hidden="true"></i>
                    </a>
                <% end %>
                <% if searcher.loaded_link.start_with? "https://archives.albany.edu/catalog?" %>
                    <a href="#" data-toggle="tooltip" data-placement="top" title='Digital Selections are items that are available online because they have been digitized or were "born-digital," or created digitally.'>
                        <i class="fa fa-info-circle fa-2" aria-hidden="true"></i>
                    </a>
                <% end %>
            </div>
            <small class="float-right">
                <i class="fas fa-angle-double-right"></i>
                <% if total == '1' %>
                    <a href="<%= searcher.loaded_link %>">View and filter <%= total %> result</a>
                <% elsif total > '1' %>
                    <a href="<%= searcher.loaded_link %>">View and filter all <%= total %> results</a>
                <% else %>
                <% end %>
            </small>
        </h4>
        <div class="card-body">
            <ol>
                <%= render partial: '/quick_search/search/result', collection: searcher.results %>
            </ol>
            <footer class="footer">
                <% unless defined? searcher.loaded_link_mobile %>
                    <%= render partial: '/quick_search/search/see_all', locals: {service_name: service_name, total: total, module_link: searcher.loaded_link} %>
                <% else %>
                    <span class="show-for-medium-up">
                    <%= render partial: '/quick_search/search/see_all', locals: {service_name: service_name, total: total, module_link: searcher.loaded_link} %>
                    </span>
                    <span class="show-for-small-only">
                    <%= render partial: '/quick_search/search/see_all', locals: {service_name: service_name, total: total, module_link: searcher.loaded_link_mobile} %>
                    </span>
                <% end %>
            </footer>
        </div>
    <% end %>
</div>
