<div class="col-sm-9">
    <%= render partial: '/quick_search/search/result_details', locals: { result: result } %>
</div>
<% unless result["mobile_link"] %>
    <div class="col-sm-3">
        <%= link_to result.link do %>
            <%= image_tag result["thumbnail"], :class => 'img-thumbnail' %>
        <% end %>
    </div>
<% else %>
    <div class="col-sm-3 show-for-medium-up">
        <%= link_to result.link do %>
            <%= image_tag result["thumbnail"], :class => 'img-thumbnail' %>
        <% end %>
    </div>
    <div class="col-sm-3 show-for-small-only">
        <%= link_to result.mobile_link do %>
            <%= image_tag result["thumbnail"], :class => 'img-thumbnail' %>
        <% end %>
    </div>
<% end %>
