<div class="card-body">
	<p class="search-error" data-quicksearch-search-endpoint="<%= service_name %>" 
	    data-quicksearch-page="<%= page %>"
	    data-quicksearch-template="<%= template %>"></p>
	<p class="search-error-rescue search-error-message"><i class="fa fa-warning"></i> We're sorry. This search took too long. Please refresh and try again. If this keeps happening, please <a href="https://albany.libwizard.com/f/contactus?i_have_a_questi=Special%20Collections%20%26%20Archives">Contact us</a> and let us know.</p>
	<p class="search-error-rescue see-all-results">
	    <%= link_to t("#{service_name}_search.loaded_link") + url_encode("#{@query}"), data: {"quicksearch_ga_action" => "error"} do %>
	    <i class="fa fa-angle-right"></i> Try <%= t("#{service_name}_search.error_service_message") %> for <span class='query'>"<%= truncate(@query, length: 100, separator: ' ') %>"</span>
	    <% end %>
	</p>
</div>